.cta {

   &__title {
      margin-bottom: 1rem;

      span {
         display: block;
         line-height: 1;
         text-align: center;
      }

      &--small {
         font-size: 2.25rem;
         font-weight: 400;
         letter-spacing: .25ch;
      }

      &--big {
         font-size: 8rem;
         font-weight: 600;
         letter-spacing: .25ch;
      }
   }

   &__tagline {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
   }

   &__start {
      background: linear-gradient(to right, var(--clr-primary-400), var(--clr-secondary-500));
      color: var(--clr-neutral-900);
      font-size: 1.25rem;
      font-weight: 600;
      padding: .875em 1.25em;
      border-radius: 0.5em;
   }
}