#overlay {
   position: relative;
   width: 100%;
   // Define an aspect ratio for the video or use a fixed height
   padding-top: 56.25%;
}

.bounding-box {
   position: absolute;
   display: inline-block;
   opacity: 0.5;

   &__label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.125rem 0.5rem;
      font-size: 0.75rem;
      font-weight: 400;
      color: white;
   }
   
   &.a {
      background-color: rgb(255, 81, 0);
   }

   &.b {
      background-color: rgb(17, 187, 17);
   }

   &.c {
      background-color: rgb(95, 28, 201);
   }

   &.d {
      background-color: rgb(165, 6, 80);
   }

   &.e {
      background-color: rgb(196, 209, 6);
   }

}