/* BASE BODY STYLES */

body {
   font-size: 1rem;
   line-height: 1.5;
   font-family: 'Poppins', system-ui, sans-serif;
   font-weight: normal;
   color: var(--clr-neutral-800);
   background-color: var(--clr-neutral-100);
}