@use 'variables' as v;

:root {
      --tft-color-primary: v.$orange-wheel;
      --tft-color-secondary: v.$prussian-blue;
      --tft-color-success: v.$spring-green;
      --tft-color-warning: v.$xanthous;
      --tft-color-error: v.$fire-engine-red;
      --tft-color-light: v.$vanilla;
      --tft-color-dark: v.$charcoal;
      // --tft-info: v.$info;
}